<!DOCTYPE html>
<html ng-app="track" ng-cloak>
  <head>
    <title> Track </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.5.0.js"></script>
    <script src="scripts/track.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>
  <body ng-controller="TrackCtrl">
    <div class="container">
      <h2> Expense Tracker </h2>
      <tabset>
        <tab heading="Record purchase">
          <div class="form-group">
              <input type="text" autofocus ng-model="item" typeahead="item for item in getItems($viewValue)" class="form-control" placeholder="Enter item">
          </div>
          <div class="form-group">
              <input type="number" ng-model="quantity" class="form-control" placeholder="Enter quantity">
          </div>
          <div class="form-group">
              <input type="number" ng-model="price" class="form-control" placeholder="Enter price">
          </div>
          <div class="form-group">
              <input type="text" ng-model="vendor" typeahead="vendor for vendor in getVendors($viewValue)" class="form-control" placeholder="Enter vendor">
          </div>
          <div class="form-group">
              <button type="submit" ng-click="save()" class="btn btn-default btn-primary">Save</button>
          </div>
          <div class="form-group">
            <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)"> {{ alert.msg }} </alert>
          </div>
      </tab>
      <tab heading="Things to buy">
        <div>
          <div class="pull-left" style="margin-right:5px">
              <div class="form-group">
                  <input type="text" ng-model="item_to_buy" typeahead="item for item in getItems($viewValue)" class="form-control" placeholder="Enter item">
              </div>
              <div class="form-group">
                  <button type="submit" ng-click="save_thing_to_buy()" class="btn btn-default btn-primary">Add</button>
              </div>
              <div class="form-group">
                <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)"> {{ alert.msg }} </alert>
              </div>
          </div>
          <div>
              <button type="button" class="btn btn-default btn-lg" ng-click="removeFromItemsToBuy($index)" ng-repeat="item_to_buy in items_to_buy"> {{ item_to_buy }} </button>
          </div>
        </div>
      </tab>
      <tab heading="Analytics">
         <h4> Monthly Spendings </h4>
         <table class="table table-striped table-bordered">
           <th> Month </th>
           <th> Total </th>
           <tr ng-repeat="monthTotal in monthTotals">
             <td>
               {{ monthTotal.MonthAndYear }} 
             </td>
             <td>
                 {{ monthTotal.Total }}
             </td>
            </tr>
         </table>
      </tab>
    </tabset>
    </div>
  </body>
</html>
